.sidenav {
  width: 380px;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 10px;
  left: 10px;
  background: #eee;

  padding: 8px 0;
  background-color:  rgba(3, 49, 70, 1);
}

.sidenav p {
  margin-top: 10px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(247, 245, 243, 1);
  display: block;
}

.userimg{
  margin-top: 30px;
  margin-left:100px;
  width: 150px;
  height: 123px;
  
}

.main {
  margin-left: 380px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .sidenav{
    width: 300px;
  }
  .sidenav p {
  margin-left: 8px;
  padding: 6px 2px 1px 2px;
  }
  .userimg{
  margin-left:80px;
  width: 130px;
  height: 123px;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .sidenav{
    width:300px;
  }
  .sidenav p {
    margin-left: 8px;
    padding: 4px 2px 1px 2px;
  }
  .userimg{
    margin-left:80px;
    width: 130px;
    height: 123px;
  }

}

/********** Extra small devices only **********/
@media (min-width: 684px) and (max-width: 767px) {
  .sidenav{
    width:250px;
  }
  .sidenav p {
    margin-left: 8px;
    padding: 2px 2px 1px 2px;
  }
  .userimg{
    margin-left:55px;
    width: 130px;
    height: 123px;
  }

}
/********** Super extra small devices Only **********/
@media (min-width: 582px) and (max-width: 683px) {
  .sidenav{
    width:180px;
  }
  .sidenav p {
    margin-left: 8px;
    padding: 5px 1px 1px 2px;
  }
  .userimg{
    margin-left:40px;
    width: 100px;
    height: 80px;
  }
}

/********** Super super extra small devices Only  **********/
@media (max-width: 581px) {
  .sidenav{
    width:180px;
  }
  .sidenav p {
    margin-left: 8px;
    padding: 5px 1px 1px 2px;
  }
  .userimg{
    margin-left:40px;
    width: 100px;
    height: 80px;
  }
}
