body {
  font-family: "Arial", sans-serif;
}

.sidenav {
  width: 380px;
  height: 605px;
  z-index: 1;
  top: 0px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  background-color:  rgba(3, 49, 70, 1);
  float: left;
}

.sidenav p {
  margin-top: 10px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(247, 245, 243, 1);
  display: block;
}

.userimg{
  margin-top: 20px;
  margin-left:100px;
  width: 150px;
  height: 123px;
  
}

.main {
  width:800px;
  margin-left: 380px; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;
}

.main p{
  margin-top: 5px;
  text-decoration: none;
  font-size: 28px;
  color: rgba(3, 49, 70, 1);
  display: block;
}

.formstyle{
  margin-left: 160px;
}

.btnstylereport{
  margin-top: 5px;
  margin-left: 400px;
  background-color: rgba(3, 49, 70, 1);
  color: white;
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 1);
}

.btnstyle2{
  margin-top:30px;
  background-color: rgba(3, 49, 70, 1);
  color: white;
  border: 1px solid rgba(187, 187, 187, 1);
}

.logostyle{
  margin-left: 460px;
  width:350px;
  background-color: rgba(255, 255, 255, 0);
}

.loginstyle{
  margin-left: 400px;
  width: 500px;
  height: 350px;
  line-height: 20px;
  background-color: rgba(3, 49, 70, 1);
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 1);
}

.loginformstyle{
  margin-top: 50px;
  margin-left: 70px;
}

.bestsellitemsbtn{
  margin-top: 50px;
  width: 181px;
  height: 200px;
  line-height: 20px;
  border-radius: 16px;
  text-align: center;
  border: 2px solid rgba(3, 49, 70, 1);
}

.bsitemimg{
  width:100px;
}

.reportstyle{
  width: 700px;
  margin-left: 120px;
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .logostyle{
    margin-left: 350px;
  }

  .loginstyle{
    margin-left: 280px;
  }

  .sidenav{
    width: 300px;
  }

  .sidenav p {
  margin-left: 8px;
  padding: 6px 2px 1px 2px;
  }

  .userimg{
  margin-left:80px;
  width: 135px;
  height: 123px;
  }

  .main {
  width:800px;
  margin-left: 300px; /* Same width as the sidebar + left position in px */
  }

  .formstyle{
  margin-left: 100px;
  }

  .btnstylereport{
    margin-left: 350px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .logostyle{
    margin-left: 250px;
  }

  .loginstyle{
    margin-left: 170px;
    width:500px;
  }

  .sidenav{
    width:300px;
  }

  .sidenav p {
    margin-left: 8px;
    padding: 4px 2px 1px 2px;
  }

  .userimg{
    margin-left:80px;
    width: 135px;
    height: 123px;
  }

  .main {
  width:600px;
  margin-left: 300px; /* Same width as the sidebar + left position in px */
  }

  .formstyle{
  margin-left: 60px;
  }

  .btnstylereport{
    margin-left: 250px;
  }

}

/********** Extra small devices only **********/
@media (min-width: 684px) and (max-width: 767px) {
  .logostyle{
    margin-left: 150px;
  }

  .loginstyle{
    margin-left: 80px;\
    width:400px;
  }

  .loginformstyle{
    margin-top: 50px;
    margin-left: 70px;
  }

  .sidenav{
    width:250px;
  }

  .sidenav p {
    margin-left: 8px;
    padding: 2px 2px 1px 2px;
  }

  .userimg{
    margin-left:55px;
    width: 135px;
    height: 123px;
  }

  .main {
  width:450px;
  margin-left: 250px; /* Same width as the sidebar + left position in px */
  }

  .formstyle{
  margin-left: 80px;
  }

  .btnstylereport{
    margin-left: 200px;
  }

}
/********** Super extra small devices Only **********/
@media (min-width: 582px) and (max-width: 683px) {
  .logostyle{
    margin-left: 90px;
  }

  .loginstyle{
    margin-left: 50px;
    width: 400px;
  }

  .loginformstyle{
    margin-top: 50px;
    margin-left: 50px;
  }

  .sidenav{
    width:180px;
  }

  .sidenav p {
    margin-left: 8px;
    padding: 5px 1px 1px 2px;
  }

  .userimg{
    margin-left:40px;
    width: 100px;
    height: 80px;
  }

  .main {
    width:400px;
    margin-left: 180px; /* Same width as the sidebar + left position in px */
  }

  .formstyle{
    margin-left: 50px;
  }

  .btnstylereport{
    margin-left: 150px;
  }
}

/********** Super super extra small devices Only  **********/
@media (max-width: 581px) {
  .logostyle{
    margin-left: 40px;
  }

  .loginstyle{
    margin-left: 80px;
    width: 300px;
  }

  .loginformstyle{
    margin-top: 50px;
    margin-left: 10px;
  }

    .sidenav{
    width:180px;
    height: 670px;
  }

  .sidenav p {
    margin-left: 8px;
    padding: 5px 1px 1px 2px;
  }

  .userimg{
    margin-left:40px;
    width: 100px;
    height: 80px;
  }

  .main {
    width:200px;
    margin-left: 180px; /* Same width as the sidebar + left position in px */
  }

  .formstyle{
    margin-left: 30px;
  }

  .btnstylereport{
    margin-left: 70px;
  }
}
