body {
  font-family: "Arial", sans-serif;
}

/*login style*/

input[type=text], input[type=password] {
  width: 50%;
  margin-left: 25%;
  margin-top:2%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

.lsbtn{
  margin-top: 3%;
  margin-left: 35%;
  background-color: rgba(3, 49, 70, 1);
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
}

.logo{
  margin-left: 30%;
  width: 40%;
}

/*nav style*/

.sidenav {
  width: 25%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  background-color:  rgba(3, 49, 70, 1);
  float: left;
}

.sidenav p {
  margin-top: 10px;
  margin-left: 5px;
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 2vw;
  color: rgba(247, 245, 243, 1);
  display: block;
}

.userimg{
  margin-top: 20px;
  margin-left:25%;
  width: 50%;
  height: 50%;
  
}

/*report style*/
.main {
  margin-left: 25%; 
  padding: 0px 10px;
}
.main p{
  margin-top: 2px;
  text-decoration: none;
  font-size: 2vw;
  color: rgba(3, 49, 70, 1);
  display: block;
}
.formstyle{
  margin-left: 10%;
}
.textareareport{
  width:200%; 
  margin-left: 20%;
}
.btnstylereport{
  margin-left: 50%;
  background-color: rgba(3, 49, 70, 1);
  color: white;
}

/*single report style*/
.reportstyle{
  width: 100%;
  margin-left: 20%;

}

/*best selling items style*/
.bestsellitemsbtn{
  margin-top: 10%;
  margin-left: 2%;
  width: 181px;
  height: 200px;
  line-height: 20px;
  border-radius: 16px;
  text-align: center;
  border: 2px solid rgba(3, 49, 70, 1);
}

.bsitemimg{
  width:100px;
}

/*stock info seasonal best sales style*/
.stockitem{
  background-color: rgba(3, 49, 70, 1);
  margin-left:35%;
  width: 50%;
  height: 50%;
}
.stockinfoimg{
  margin-left:25%;
  width:50%;
}

.stockiteminfo{
  color: rgba(3, 49, 70, 1);
  font-size: 2vw;
  text-align: center;
}
.stockiteminfo p{
  margin-left:20%;
}

.stockiteminfo button{
  margin-left: 24%;
  background-color: rgba(3, 49, 70, 1);
  color: white;
  border-radius: 20px;
  background-color: rgba(3, 49, 70, 1);
  font-size: 2vw;
  text-align:center;
}

/* seasonal best sales style */
.seasonalbar{
  left: 0px;
  width: 100%;
  height: 5%;
  line-height: 20px;
  background-color: rgba(3, 49, 70, 1);
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 1);
}
.main .editbtn{
  width: 50%;
  margin-left: 25%;
  color: rgba(3, 49, 70, 1);
}
.seasonalbs{
  margin-left:25%;
  width: 75%;
}
.seasonalbs h3{
  width: 90%;
  margin-left: 5%;
  color: rgba(243, 242, 241, 1);
  font-size: 2.5vw;
  text-align: center;
}

/*sign in style*/
.shindory {
  left: 5px;
  top: 400px;
  width: 300px;
  height: 200px;
  margin-left:50px;
  background-color: rgba(255, 255, 255, 0);
  float:left;

}
.main {
  margin-left: 15px; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;
}

.container{
  left: 417px;
  top: 116px;
  width: 890px;
  height: 880px;
  line-height: 20px;
  background-color: rgba(3, 49, 70, 1);
  text-align: center;
  float:right;
  padding:8px 0;
}

.formstyle{
  margin-left: 150px;
}

.btnstyle{
  left: 905px;
  top: 867px;
  width: 300px;
  height: 63px;
  border-radius: 4px;
  background-color: rgba(3, 49, 70, 1);
  color: rgba(243, 242, 241, 1);
  font-size: 28px;
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 1);
}

.lb{
  left: 511px;
  top: 190px;
  width: 220px;
  height: 50px;
  color: rgba(247, 245, 243, 1);
  font-size: 20px;
  text-align: left;
}

.in{
  left: 300px;
  top: 181px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: rgba(241, 93, 2, 1);
  font-size: 20px;
  text-align: left;
  border: 2px solid rgba(3, 49, 70, 1);
}

.slt{
  left: 300px;
  top: 181px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color:rgb(105,105,105);
  font-size: 20px;
  text-align: left;
  border: 2px solid rgba(3, 49, 70, 1);
}

.btn{
  margin-top: 10%;
  margin-left: 100px;
  left: 300px;
  top: 700px;
  width: 250px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(3, 49, 70, 1);
  color: rgba(243, 242, 241, 1);
  font-size: 20px;
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 1);
}

/*view report style*/
.report{
  margin-left:25%;
  width: 75%;
  height:5%;
  line-height: 20px;
  text-align:left;
  border: 1px solid rgba(187, 187, 187, 1);
}
.report .reportsingle{
  width: 100%;
  height: 50%;
  margin-top: 0%;
  border: 1px solid rgba(187, 187, 187, 1);
  width: 100%;
  background-color: rgba(243, 242, 241, 1);
}

.report p{
  margin-top: 1%;
  float:right;
  margin-right:90%;
  color: rgba(3, 49, 70, 1);
  font-size: 2vw;
}
.report blockquote{
  color: rgba(16, 16, 16, 1);
  font-size: 2vw;
  text-align: left;
  margin-left:5%;
}

/*notifications style*/
.noti{
  margin-left:25%;
  width: 75%;
  height:5%;
  line-height: 20px;
  text-align:left;
  border: 1px solid rgba(187, 187, 187, 1);
}
.noti .notibar{
  width: 100%;
  height:70px;
  line-height: 20px;
  background-color: rgba(243, 242, 241, 1);
  text-align:left;
  border: 1px solid rgba(187, 187, 187, 1);
}
@media (max-width: 479px){
  .textareareport{
    margin-top: 9%;
    margin-left: 1%;
  }
}